<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Sharder</title>
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-4">
            <form @submit.prevent="queryComponents()">
                <div class="mb-3">
                    <label for="searchQuery" class="form-label">Query components by keyword</label>
                    <input class="form-control" id="searchQuery" v-model="searchQuery">
                </div>
                <button class="btn btn-primary">Search</button>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row" v-for="(component, i) in components">
                <div class="col-6">
                    <iframe style="width: 100%" :src="'/api/source/' + component.Id"></iframe>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            Keywords:
                            <ul>
                                <li class="text-body" v-for="keyword in component.Keywords">
                                    <button class="btn" @click="queryComponents(keyword)">{{ keyword }}</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            Component Type: {{ component.ComponentType }} <br/>
                        </div>
                        <div class="col-12">
                            Component Id: <a :href="'/api/componentbyid?id=' + component.Id" target="_blank">{{
                                component.Id
                            }} </a>
                        </div>
                        <div class="col-12">
                            Component Hash: <a :href="'/api/componentsbyhash?hash=' + component.ContentHash"
                                               target="_blank">{{ component.ContentHash }} </a>
                        </div>
                        <div class="col-12">
                            <button @click="getParentComponent(i)" class="btn btn-outline-primary">See parent</button>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
<script>
    const BASE_URL = 'http://localhost:8089';

    const queryComponentsByKeyword = async (query) => {
        return new Promise(async function (resolve, reject) {
            try {
                const res = await axios.get(`${BASE_URL}/api/find?query=${query}`);
                const todos = res.data;
                console.log(`GET: Here's the list of components`, todos);
                resolve(todos);

            } catch (err) {
                reject(err)
            }

        })
    };
    const queryComponentById = async (query) => {
        return new Promise(async function (resolve, reject) {
            try {
                const res = await axios.get(`${BASE_URL}/api/componentbyid?id=${query}`);
                const todos = res.data;
                console.log(`GET: component by id`, todos);
                resolve(todos);

            } catch (err) {
                reject(err)
            }

        })
    };

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            searchQuery: "menu",
            components: [],
            searchResult: null,
        },
        methods: {
            getParentComponent(componentIndex) {
                const that = this;
                var component = this.components[componentIndex]
                var parentComponentId = component.ParentId;
                queryComponentById(parentComponentId).then(function (res) {
                    console.log("Parent component", componentIndex, res);
                    // that.components.unshift(res.Component);
                    if (res.Component.Id === "") {
                        alert("Parent not available")
                        return
                    }
                    Vue.set(that.components, componentIndex, res.Component)
                })
            },
            queryComponents(keyword) {
                const that = this;
                if (!keyword) {
                    keyword = this.searchQuery;
                } else {
                    this.searchQuery = keyword;
                }
                console.log("query components", keyword, arguments);
                queryComponentsByKeyword(keyword).then(function (res) {
                    console.log("components", res);
                    that.components = res.Components;
                    that.searchResult = res.Result;
                }).catch(function (err) {
                    console.log("Failed", err)
                })
            }
        },
        mounted() {

            queryComponentsByKeyword().then(function (res) {
                console.log("result", res)
            }).catch(function (err) {
                console.log("Failed", err)
            })
        }
    })
</script>
</html>